*.class
*.jar
*.war
*.ear

*.log
*.log.gz
hs_err_pid*
replay_pid*
/run/logs/
/run/crash-reports/

.gradle/
/build/
/bin/
/out/

.idea/
*.iml
.vscode/
*.code-workspace
.classpath
.project
.settings/

Thumbs.db
.DS_Store

run/
/run/saves/
/run/config/
/run/mods/
/run/usercache.json
/run/usernamecache.json
